@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@font-face {
  font-family: 'eastse';
  src: url("./assets/fonts/eastse.eot");
  src: url("./assets/fonts/eastse.eot#iefix") format("embedded-opentype"), url("./assets/fonts/eastse.ttf") format("truetype"), url("./assets/fonts/eastse.woff") format("woff"), url("./assets/fonts/eastse.svg#eastse") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eastse' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ic-down:before {
  content: '\e900'; }

.ic-menu:before {
  content: '\e901'; }

.ic-next:before {
  content: '\e902'; }

.ic-prev:before {
  content: '\e903'; }

.ic-search:before {
  content: '\e904'; }

.ic-up:before {
  content: '\e905'; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers.
     */
body {
  margin: 0; }

/**
     * Render the `main` element consistently in IE.
     */
main {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * Remove the gray background on active links in IE 10.
     */
a {
  background-color: transparent; }

/**
     * 1. Remove the bottom border in Chrome 57-
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Remove the border on images inside links in IE 10.
     */
img {
  border-style: none; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers.
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     * 1. Show the overflow in Edge.
     */
button,
input {
  /* 1 */
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * Correct the inability to style clickable types in iOS and Safari.
     */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
     * Remove the inner border and padding in Firefox.
     */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
     * Restore the focus styles unset by the previous rule.
     */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  vertical-align: baseline; }

/**
     * Remove the default vertical scrollbar in IE 10+.
     */
textarea {
  overflow: auto; }

/**
     * 1. Add the correct box sizing in IE 10.
     * 2. Remove the padding in IE 10.
     */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
     * Remove the inner padding in Chrome and Safari on macOS.
     */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE 10+, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/* Misc
       ========================================================================== */
/**
     * Add the correct display in IE 10+.
     */
template {
  display: none; }

/**
     * Add the correct display in IE 10.
     */
[hidden] {
  display: none; }

* {
  margin: 0;
  font-family: "Spoqa Han Sans", "Sans-serif";
  box-sizing: border-box; }

html {
  font-family: "Spoqa Han Sans", "Sans-serif"; }

body {
  font-family: "Spoqa Han Sans", "Sans-serif"; }

h1 {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

table {
  border-spacing: 0; }

.container {
  width: 100%;
  padding: 0 5px;
  margin: 0 auto; }
  .container .row {
    display: flex;
    flex-wrap: wrap; }
  .container [class^='col-'] {
    padding: 0 10px; }
  .container .col-sm-1 {
    width: 25%; }
  .container .col-sm-2 {
    width: 50%; }
  .container .col-sm-3 {
    width: 75%; }
  .container .col-sm-4 {
    width: 100%; }
  @media screen and (min-width: 1200px) {
    .container {
      padding: 0; }
      .container .row {
        max-width: 1140px;
        margin: 0 auto; }
      .container .col-lg-1 {
        width: 95px; }
      .container .col-lg-2 {
        width: 190px; }
      .container .col-lg-3 {
        width: 285px; }
      .container .col-lg-4 {
        width: 380px; }
      .container .col-lg-5 {
        width: 475px; }
      .container .col-lg-6 {
        width: 570px; }
      .container .col-lg-7 {
        width: 665px; }
      .container .col-lg-8 {
        width: 760px; }
      .container .col-lg-9 {
        width: 855px; }
      .container .col-lg-10 {
        width: 950px; }
      .container .col-lg-11 {
        width: 1045px; }
      .container .col-lg-12 {
        width: 1140px; } }

.global-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #ffffff;
  color: #296eb4;
  height: 44px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center; }

.global-nav-row {
  width: 100%; }

.global-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .global-nav i {
    font-size: 20px; }
  .global-nav #logo {
    height: 20px; }
  .global-nav .menu,
  .global-nav .search {
    display: none; }

@media screen and (min-width: 1200px) {
  .global-nav-container {
    height: 80px; }
  .global-nav i {
    display: none; }
  .global-nav #logo {
    height: 36px; }
  .global-nav .menu,
  .global-nav .search {
    display: flex; }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center; }
  .menu-list {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #3f4150;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px; }
    .menu-list .dropdown {
      cursor: pointer; }
    .menu-list .dropdown-button {
      width: 160px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .menu-list .dropdown-button .dropdown-value {
        line-height: 1; }
      .menu-list .dropdown-button:hover {
        background-color: #d7f0fb; }
      .menu-list .dropdown-button:hover .dropdown-content {
        display: block; }
    .menu-list .dropdown-content {
      display: none;
      background-color: #ffffff;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
      padding: 0 4px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.03em;
      text-align: left;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 80px;
      width: 100%; }
      .menu-list .dropdown-content li {
        margin: 0;
        padding: 12px 8px;
        border-bottom: 1px solid #f5f5f5; }
        .menu-list .dropdown-content li:last-child {
          border: none; }
        .menu-list .dropdown-content li:hover {
          color: #296eb4; }
  .search {
    position: relative; }
    .search input {
      width: 200px;
      height: 35px;
      padding: 9px 14px 10px;
      border-radius: 18px;
      border: 1px solid #296eb4;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.03em;
      color: #8c8d96; }
      .search input::placeholder {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.03em;
        color: #cccccc;
        line-height: 1; }
    .search .search-icon {
      position: absolute;
      right: 12px;
      top: 7px;
      width: 22px;
      height: 22px;
      background-image: url("../../assets/icon/input-search.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer; } }

.landing-container {
  background-color: #d7f0fb;
  color: #296eb4;
  margin-top: 44px; }

.landing {
  padding: 20px 0;
  position: relative; }
  .landing .landing-text {
    position: absolute;
    top: 24px; }
  .landing .landing-subtitle {
    padding-left: 1px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    line-height: 1; }
  .landing .landing-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    font-weight: 800; }
  .landing .landing-desc {
    display: none; }
  .landing .landing-image,
  .landing .landing-image img {
    width: 100%; }

.shortcut {
  display: none; }

@media screen and (min-width: 1200px) {
  .landing-container {
    margin-top: 80px; }
  .landing {
    position: relative;
    height: 560px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 120px 0 80px; }
    .landing .landing-text {
      position: static;
      max-width: 464px; }
    .landing .landing-subtitle {
      padding-left: 2px;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.03em; }
    .landing .landing-title {
      font-size: 48px;
      line-height: 54px;
      letter-spacing: -0.03em;
      margin-bottom: 28px; }
    .landing .landing-desc {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.02em;
      word-break: keep-all;
      display: block;
      border-left: 4px solid #95cde6;
      padding-left: 12px; }
    .landing .landing-image {
      position: absolute;
      width: 480px;
      top: -24px;
      left: 72px;
      z-index: 1; }
  .shortcut {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -96px;
    z-index: 0;
    max-width: 1200px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #296eb4;
    font-weight: bold; }
    .shortcut .shortcut-item {
      width: 25%;
      height: 160px;
      background-color: #ffffff;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease-in; }
      .shortcut .shortcut-item:hover {
        background-color: #296eb4;
        color: #ffffff; }
      .shortcut .shortcut-item:first-child {
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px; }
      .shortcut .shortcut-item:last-child {
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px; }
      .shortcut .shortcut-item .shortcut-icon {
        width: 48px;
        height: 48px;
        margin-bottom: 16px; }
        .shortcut .shortcut-item .shortcut-icon img {
          height: 100%; } }

.service-container {
  padding: 56px 0; }
  .service-container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.service-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #296eb4;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px; }

.service-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }
  .service-item:last-child {
    margin: 0; }
  .service-item .service-item-image {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: #d7f0fb;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .service-item .service-item-image img {
      width: 72px;
      height: 72px; }
  .service-item .service-item-text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #3f4150;
    font-weight: bold; }

@media screen and (min-width: 1200px) {
  .service-container {
    padding: 96px 0; }
    .service-container .row {
      display: flex;
      justify-content: center;
      align-items: center; }
  .service-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em; }
  .service-items {
    flex-direction: row; }
  .service-item {
    margin-bottom: 0;
    margin-right: 88px; }
    .service-item:last-child {
      margin-right: 0; }
    .service-item .service-item-image {
      width: 200px;
      height: 200px;
      margin-bottom: 24px; }
      .service-item .service-item-image img {
        width: 120px;
        height: 120px; }
    .service-item .service-item-text {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.03em; } }

.company-container {
  padding: 40px 0;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.company-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px; }
  .company-header .company-title {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #296eb4;
    font-weight: bold; }
  .company-header .company-more {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #8c8d96; }

.company-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px; }
  .company-card:nth-child(odd) .company-card-image {
    margin-right: 16px; }
  .company-card:nth-child(even) {
    flex-direction: row-reverse; }
    .company-card:nth-child(even) .company-card-image {
      margin-left: 16px; }
  .company-card:last-child {
    margin-bottom: 0; }

.company-card-image {
  display: block;
  overflow: hidden;
  max-width: 136px;
  height: 136px;
  padding: 8px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .company-card-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; }

.company-card-text {
  max-width: 136px; }
  .company-card-text .company-name {
    height: 24px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #161616;
    font-weight: bold; }
  .company-card-text .company-desc {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #8c8d96; }

@media screen and (min-width: 1200px) {
  .company-more {
    transition: all 0.25s ease-in; }
    .company-more:hover {
      color: #95cde6; }
  .company-container {
    padding: 80px 0; }
  .company-header {
    margin-bottom: 48px; }
    .company-header .company-title {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.03em; }
    .company-header .company-more {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.03em; }
  .company-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .company-card {
    margin-bottom: 0;
    flex-direction: column; }
    .company-card.company-card-image {
      margin: 0; }
    .company-card:nth-child(odd) .company-card-image {
      margin-right: 0; }
    .company-card:nth-child(even) {
      flex-direction: column; }
      .company-card:nth-child(even) .company-card-image {
        margin-left: 0; }
  .company-card-image {
    max-width: 320px;
    height: 200px;
    padding: 24px;
    margin-bottom: 32px; }
  .company-card-text {
    max-width: 320px; }
    .company-card-text .company-name {
      height: 24px;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.03em; }
    .company-card-text .company-desc {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.02em; } }

/*# sourceMappingURL=style.css.map */