.global-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  color: $blue-dark;
  height: 44px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  @include flexbox;
}

.global-nav-row {
  width: 100%;
}

.global-nav {
  @include flexbox(between, center);
  i {
    font-size: 20px;
  }
  #logo {
    height: 20px;
  }
}
