.global-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $white;
  color: $blue-dark;
  height: 44px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  @include flexbox;
}

.global-nav-row {
  width: 100%;
}

.global-nav {
  @include flexbox(between, center);
  i {
    font-size: 20px;
  }
  #logo {
    height: 20px;
  }
  .menu {
    @include flexbox;
  }
  .menu-list {
    @include text-style(20, $primary);
    @include flexbox;
    margin-right: 80px;
    li {
      margin-right: 100px;
    }
    li:last-child {
      margin: 0;
    }
  }
  .search {
    position: relative;
    input {
      width: 200px;
      height: 35px;
      padding: 9px 14px 10px;
      border-radius: 18px;
      border: 1px solid $blue-dark;
      @include text-style(16, $secondary);
      &::placeholder {
        @include text-style(16, $border);
        line-height: 1;
      }
    }
    .search-icon {
      position: absolute;
      right: 12px;
      top: 7px;
      width: 22px;
      height: 22px;
      background-image: url('../../assets/icon/input-search.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
  .menu,
  .search {
    display: none;
  }
}

@include responsive(D) {
  .global-nav-container {
    height: 100px;
  }
  .global-nav {
    i {
      display: none;
    }
    #logo {
      height: 40px;
    }
    .menu,
    .search {
      display: flex;
    }
  }
}
