.landing-container {
  background-color: $blue-light;
  color: $blue-dark;
  margin-top: 44px;
}

.landing {
  padding: 20px 0;
  position: relative;
  .landing-text {
    position: absolute;
    top: 24px;
  }
  .landing-subtitle {
    padding-left: 1px;
    @include text-style(14);
    line-height: 1;
  }
  .landing-title {
    @include text-style(24);
    font-weight: 800;
  }
  .landing-desc {
    display: none;
  }
  .landing-image,
  .landing-image img {
    width: 100%;
  }
}

@include responsive(D) {
  .landing-container {
    margin-top: 100px;
  }
  .landing {
    position: relative;
    height: 720px;
    @include flexbox(end, start);
    padding: 120px 0 80px;
    .landing-text {
      position: static;
      max-width: 464px;
    }
    .landing-subtitle {
      padding-left: 2px;
      @include text-style(20);
    }
    .landing-title {
      @include text-style(48);
      margin-bottom: 28px;
    }
    .landing-desc {
      @include text-style(14);
      word-break: keep-all;
      display: block;
      border-left: 4px solid $blue;
      padding-left: 12px;
    }
    .landing-image {
      position: absolute;
      width: 580px;
      top: 0;
      left: 0;
    }
  }
}
